#recaman--mainWrapper {
    position: relative;
    max-width: 100%;
}

#recaman--mainWrapper canvas {
    position: relative;
    max-width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

@media all and (min-width: 768px) {}