#header--mainWrapper img {
    border-radius: 50px;
}

#header--modal {
    display: none;
}

.modal-title {
    font-size: 16px;
}

@media all and (min-width: 768px) {
    .modal-title {
        font-size: 24px;
    }
}